* {
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100%;
    min-height: 100%;
    color: $white;
    font-size:  $font-size-6;
    line-height: $line-height-6;
    background: $black;
}

a {
    outline: none;
}

iframe {
    border: none;
    outline: none;
}